/* src/App.css */
:root {
    --text-color-light: #00366f;
    --text-color-dark: #ffffff;
    --background-color-light: hsl(51, 100%, 89%, 0.3);
    --background-color-dark: hsl(0, 0%, 14%, 0.8);
    --button-background-light: hsla(193, 100%, 95%, 0.7);
    --button-background-dark: hsla(0, 0%, 20%, 0.8);
    --button-text-light: #00366f;
    --button-text-active-light: #c5d7e9;
    --button-text-active-dark: #ffffff;
    --input-background-light: hsl(208, 100%, 57%, 10%);
    --input-background-dark: hsla(208, 100%, 91%, 0.2);
    --border-color-light: #0660c0;
    --border-color-dark: #ffffff;
    --text-shadow-color-light: 0px 0px 2px #000000;
    --text-shadow-color-dark: 0px 0px 3px #ffffff;
    --input-info-background-light: rgba(255, 255, 255, 0.432);
    --input-info-background-dark: rgba(0, 0, 0, 0.432);
}

body.light-mode { 
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --button-background: var(--button-background-light);
  --button-text: var(--button-text-light);
  --input-background: var(--input-background-light);
  --border-color: var(--border-color-light);
  --text-shadow-color: var(--text-shadow-color-light);
  --input-info-background: var(--input-info-background-light);
  --cell-background-color-light: hsla(193, 100%, 95%, 0.7);
  --cell-shadow-light: 4px 2px 13px rgb(9, 18, 150);
  --energy-color-light: #007bff;
  --box-shadow-light: 4px 2px 13px rgb(9, 18, 150);
  --header-shadow-light: rgba(255, 255, 255, 0.8);
  --summary-background-color-light: hsla(51, 100%, 89%, 0.3);
  --button-text-active: var(--button-text-active-light)
}

body.dark-mode { 
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --button-background: var(--button-background-dark);
  --button-text: var(--button-text-dark);
  --input-background: var(--input-background-dark);
  --border-color: var(--border-color-dark);
  --text-shadow-color: var(--text-shadow-color-dark);
  --input-info-background: var(--input-info-background-dark);
  --cell-background-color-dark: hsla(0, 0%, 10%, 0.8);
  --cell-shadow-dark: 4px 2px 13px rgb(248, 255, 203);
  --energy-color-dark: #80dfff;
  --box-shadow-dark: 4px 2px 13px rgb(248, 255, 203);
  --header-shadow-dark: rgba(255, 255, 255, 0.8);
  --background-color-dark: hsl(0, 0%, 14%, 0.8);
  --button-text-active: var(--button-text-active-dark)
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}

#coordinates-title {
  font-size: 30px;
  color: var(--text-color);
}

#coordinates {
  font-size: 25px;
  color: var(--text-color);
  text-shadow: var(--text-shadow-color);
  font-weight: 600;
}

.error-message { 
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.1em;
}

.map-container-wrapper {
  max-height: 500px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out; 
  margin-top: 30px;
}

.map-container-wrapper .leaflet-container {
  height: 400px;
  width: 100%;
}
